@model Game

<div class="game-details">

    <div>
        <div class="title-game">
            <span>
                @Model.Title
            </span>

        </div>

        <div class="description">
            <span>
                @Model.Description
            </span>

        </div>

        <div class="genre">
            <span>
                Genre: @Model.Genre
            </span>

        </div>

        <div class="releaseYear">
            <span>
                Release year: @Model.ReleaseYear
            </span>
        </div>
    </div>

    <div class="image">
        <img src="@Model.ImageUrl" alt="Image" />
    </div>

</div>

