
@{
    ViewData["Detail"] = "Home Page";
    var item = Model;
}


<div class="game-grid">
  
            <div class="game-details">

                <div>
                    <div class="title-game">
                        <span>
                            @item.Title
                        </span>
                    </div>

                    <div class="description">
                        <span>
                            @item.Description
                        </span>
                    </div>

                    <div class="genre">
                        <span>
                            Genre: @item.Genre
                        </span>
                    </div>

                    <div class="releaseYear">
                        <span>
                            Release year: @item.ReleaseYear
                        </span>
                    </div>
                </div>

                <div class="image">
                    <img src="@item.ImageUrl" alt="Image" />
                </div>

            </div>

       
        
</div>